body{
    background-color:#e3eefd;
    color: #11068b;
    font-family: Palantino, serif;
}

li{
	text-decoration: none;
	display:inline;
	background-color: #ffffff;
	color: #000000;
  float: left;
}

/* refered to https://www.w3schools.com/css/css_navbar.asp for help with navigation - ul, li a, li a:hover */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #11068b; */
  /* background-color: #f3f3f3; */
  background-color: #666666;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
}

a{
  color: #770078;
  font-family: Palatino, serif;
}

nav a {
  text-decoration: none;
  alignment: center;
  /* background-color: #11068b; */
  /* background-color: #f3f3f3; */
  background-color: #666666;
}

.current {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  background-color: #000000;
  /*could do backgroun-color to get it to highlight */
}

/* used / slightly altered code from https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/ for skip to main content lines 35-59*/

.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* z-index: -999; */
}

a.skip-main:focus,
a.skip-main:active {
  color: #e3eefd;
  background-color: #11068b;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px #ffffff;
  text-align: center;
  font-size: 1.2em;
  /* z-index: 999; */
  font-family: Palantino, serif;
}
